@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {

  --pg: #fff0e8;
  --primaryColor: #ffff;
  --secondryColor: #ff5a18;
  --thirdColor: #000;
  --primaryText: #4e4e4e;
  --secondryText: #787878;

  --primaryTextSize: 120rem;

  /* Other Colors */
  --lightGrey: #f4f8f9;
  --darkGrey: #d1d5db;
  --extradarkGrey: #55565a;
  --lightSkyBlue: #3b82f6;
  --darkSkyBlue: #1e40af;

  --btnActiveBg: var(--thirdColor);
  --btndeactiveBg: var(--primaryColor);
  --btnActiveText: var(--primaryColor);
  --btndeactiveText: var(--extradarkGrey);
  --btnactiveBorder: var(--thirdColor);
  --btndeactiveBorder: var(--darkGrey);
  --btnHoverBg: var(--thirdColor);

  --inputBorder: var(--darkGrey);
  --inputFocusBorder: var(--lightSkyBlue);
  --inputFocusRing: var(--lightSkyBlue);
  --inputPlaceholder: var(--darkGrey);
  --inputBg: var(--lightGrey);

  --background: var(--primaryColor);
  --foreground: var(--primaryText);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: black;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}

body {
  background-color: var(--pg);
}

@layer components {
  /* Reusable class declaration */

  .authMaindev {
    @apply min-h-screen bg-(--background) lg:flex;
  }

  .inputform {
    @apply min-w-full border border-(--inputBorder) bg-(--inputBg) rounded-md py-2 px-4 focus:outline-none focus:ring-(--inputFocusRing) focus:border-(--inputFocusBorder);
  }

  .btn-toggle {
    @apply h-12 rounded-lg border text-sm font-medium transition cursor-pointer;
  }

  /* Active Button State */
  .btn-toggle-active {
    @apply border-(--btnactiveBorder) bg-(--btnActiveBg) text-(--btnActiveText);
  }

  /* Inactive / Deactive Button State */
  .btn-toggle-inactive {
    @apply border-(--btndeactiveBorder) bg-(--btndeactiveBg) text-(--btndeactiveText) hover:border-(--btnactiveBorder);
  }

  .singLink {
    @apply font-semibold text-(--secondryColor) hover:underline;
  }

  .actionBtn {
    @apply bg-(--secondryColor) text-white min-w-full py-2 px-4 rounded-md;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-plusJakarta: var(--font-plusJakarta);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {

  --bg: #fff0e8;
  --primaryColor: #000;
  --secondryColor: #ff5a18;
  --thirdColor: #ffff;
  --whitetext: #000;
  --primaryText: #ffff;
  /* Other Colors */
  --lightGrey: #f4f8f9;
  --darkGrey: #d1d5db;
  --extradarkGrey: #55565a;
  --lightSkyBlue: #3b82f6;
  --darkSkyBlue: #1e40af;

  --btnActiveBg: var(--darkGrey);
  --btndeactiveBg: var(--lightGrey);
  --btnActiveText: var(--whitetext);
  --btndeactiveText: var(--whitetext);
  --btnactiveBorder: var(--thirdColor);
  --btndeactiveBorder: var(--darkGrey);
  --btnHoverBg: var(--thirdColor);

  --inputBorder: var(--lightGrey);
  --inputFocusBorder: var(--lightSkyBlue);
  --inputFocusRing: var(--lightSkyBlue);
  --inputPlaceholder: var(--darkGrey);
  --inputBg: var(--lightGrey);




  --background: var(--primaryColor);
  --foreground: var(--whitetext);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: black;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

}

@layer base {
  * {
    @apply border-border outline-ring/50;

  }

  body {
    @apply bg-background text-foreground;

  }

  html {
    @apply font-sans;

  }

}